/* nav related styles */
body {
  font-family: 'Open Sans', sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px ;
}

.Tanjim {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

.color-primary {
  color: rgb(38, 107, 81);
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  margin-right: 50px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #474747;
}

.primary-btn {
  width: 130px;
  height: 55px;
  flex-shrink: 0;
  border-radius: 5px;
  background: rgb(38, 107, 81);
  color: white;
  border: 0;
  font-size: 18px;
  font-weight: 700;
}

.header {
  background-color: rgb(213, 224, 213);
  background-image: url(developer.png);
  background-repeat: no-repeat; 
} 


.d-bth {
  text-align: center;
  font-style: normal;
  border-radius: 5px;
}

.c-btn {
  border-radius: 5px;
  border: 1px solid rgb(38, 107, 81);
  background: rgb(213, 224, 213);
  color:  rgb(38, 107, 81);
  margin-left: 30px;
}
.banner {
  padding: 30px 30px 0px 150px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content {
  max-width: 500px;
}

.banner .banner-img {
  width: 500px;
}

.banner-content {
  justify-content: space-between;
}

.banner-gretting {
  font-size: 45px;
  color: #474747;
  font-weight: 600;
  margin-bottom: 0;
}

.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

.banner-description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* main section */

main {
  width: 1400px;
  margin: 0 auto;
}

main section {
  margin-top: 130px;
}

.about {
  padding: 130px; 
  border-radius: 5px;
  background: rgb(213, 224, 213);
  margin: 130px ;
}

.sec-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.sec-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}

.about-info {
  text-align: center;
}

.info-title {
  color: #757575;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 7px;
}

.info-description {
  margin-top: 0px;
}

.i-do-des {
  padding: 32px 221px;
}

.skill-container {
  display: flex;
  margin-left: 128px;
}

.skill {
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  gap: 40px;

  width: 200px;
  height: 300px;
  margin: 13px;
}

.skill-title{
  color: #181818;
  font-size: 20px;
  font-weight: 700;
}

.skill-description {
  color: #757575;
  font-size: 18px;
}


